<div class="row">
    <div style="margin:0 auto; text-align: center"><b>Director</b></div>
    <div class="col-md-3 col-xs-6" style="border-color: black; margin:0 auto" *ngFor="let employee of employees | slice:0:1">
        <app-employee-list-item [employee]="employee"></app-employee-list-item>
    </div>

    <div style="clear: both;"></div>
    <div style="margin:0 auto; text-align: center"><b>Vice Directors</b></div>
    <div class="col-md-3 col-xs-6" style="margin:0 auto" *ngFor="let employee of employees | slice:1:3">
      <app-employee-list-item [employee]="employee"></app-employee-list-item>
    </div>
    <div style="clear: both;"></div>
    <div style="margin:0 auto; text-align: center"><b>Employees</b></div>
    <div class="col-md-3 col-xs-6" style="margin:0 auto" *ngFor="let employee of employees | slice:3:7">
      <app-employee-list-item [employee]="employee"></app-employee-list-item>
    </div>
</div>
